.advantages {
  text-align: center;
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }
}

.advantages__block {
  background-color: @basic-grey;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  min-width: 280px;
  min-height: 266px;
}

.advantages__image {
  margin-top: 21px;
  margin-left: 22px;
  margin-bottom: 22px;
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-column: ~"2/3";
    grid-row: ~"1/-1";
  }
}

.advantages__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  grid-column: ~"1/3";
  text-align: left;
  margin-left: 20px;
  margin-right: 33px;
  margin-top: 0;
  margin-bottom: 38px;
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-column: ~"1/2";
    grid-row: ~"2/3";
  }
}

.advantages__link {
  text-decoration: none;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @basic-black;
  grid-column: ~"1/3";
  text-align: left;
  margin-left: 19px;
  margin-top: 0;
  margin-bottom: 18px;
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-column: ~"1/2";
    grid-row: ~"3/4";
  }
}
