.form-main {
  width: 280px;
  @media (min-width: @tablet-width) {
    width: 631px;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.form__desktop-block {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
  }
}


.form__head-title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @basic-black;
}

.form__info,
.form__contacts {
  display: flex;
  flex-direction: column;
}

.form__info {
  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.form__commentary {
  width: 100%;
}

.form__commentary textarea {
  min-height: 150px;
  box-sizing: border-box;
  @media (min-width: @tablet-width) {
    min-height: 174px;
  }
}

.form__info-block,
.form__contacts-block {
  display: grid;
  grid-template-columns: auto 1fr;
}

.form__info-block {
  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.form__text {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-black;
  text-transform: uppercase;
}

.form__info input {
  width: 100%;
}

.form__info label,
.form__info input::placeholder,
.form__program label,
.form__program input::placeholder,
.form__program-list-item,
.form__contacts,
.form__contacts input::placeholder,
.form__commentary textarea::placeholder,
.form__additional-list-item {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  text-transform: uppercase;
  box-sizing: border-box;
}

.form input,
.form textarea {
  line-height: 18px;
  width: 100%;
}

.form__program {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.form__program-list,
.form__additional-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form__program-list-item label {
  color: @special-dark-grey-2;
}

.form__program-list-item,
.form__additional-list-item {
  color: @basic-black;
}

.form__contacts {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    width: 630px;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

.form__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: @basic-black;
  grid-column: ~"1/-1";
}

.form__additional-list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__agree {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }
  @media (min-width: @desktop-width) {
    column-gap: 81px;
  }
}

.form__button {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic-white;
  background-color: @basic-green;
  display: flex;
  width: 280px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  @media (min-width: @tablet-width) {
    width: 282px;
  }
  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.form__legend {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: @basic-black;
  text-align: center;
  @media (min-width: @tablet-width) {
    text-align: left;
  }
}
