.main-nav__wrapper-mini {
  @media (max-width: @mobile-width-only) {
    width: 280px;
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__header {
  width: 100%;
  @media (min-width: @tablet-width) {
    width: 708px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  @media (max-width: @mobile-width-only) {
    position: absolute;
    background-color: @basic-white;
    z-index: 4;
    /* width: 280px; */
    width: 100%;
    display: none;
  }
  @media (min-width: @tablet-width) {
    width: 440px;
    min-height: 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }
  @media (min-width: @desktop-width) {
    width: 478px;
    min-height: 39px;
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    z-index: 4;
  }
}

.main-nav__list-item {
  @media (max-width: @mobile-width-only) {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px solid @special-grey;
    height: 66px;
    &:first-child {
      border-top: 1px solid @special-grey;
    }
  }
}

.main-nav__list-item--active {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid @basic-green;
  }
}

.main-nav__list-item--active-index {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid @basic-green;
  }
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid @basic-white;
  }
}

.main-nav__list-item-link {
  text-decoration: none;
  font-family: "OswaldMedium", "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: @basic-black;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  @media (min-width: @tablet-width) {
    font-family: "OswaldRegular", "Arial", sans-serif;
    font-style: normal;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
  }
  @media (min-width: @desktop-width) {
    font-family: "OswaldRegular", "Arial", sans-serif;
    font-style: normal;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
  }
}

.main-nav__list-item-link--index {
  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}
