.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
  align-items: center;
  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    flex-direction: row;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.page-header__logo {
  text-decoration: none;
  width: 191px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo-big {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
  @media (max-width: @mobile-width-only) {
    display: none;
  }
  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 25px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 56px;
  }
}

.page-header__logo-brand-image {
  width: 118px;
  height: 21px;
}

.page-header__nav-toggle {
  /* position: absolute; */
  position: relative;
  padding: 0;
  margin: 0;
  top: 24px;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  cursor: pointer;
  border: none;
  background-color: @basic-white;
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__nav-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: @basic-black;
  box-shadow: 0 8px 0 0 @basic-black, 0 16px 0 0 @basic-black;
  @media (min-width: @tablet-width) {
    display: none;
  }
}
