.page-footer {
  width: 280px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1220px;
    margin: 0 auto;
  }
}

.page-footer__contacts-title-main,
.page-footer__contacts-title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: @basic-light-black;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.page-footer__contacts-title-main {
  line-height: 20px;
}

.page-footer__contacts-title {
  line-height: 18px;
}

.page-footer__contacts-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @special-dark-grey;
  margin: 0;
  padding: 0;
}

.page-footer__contacts-container-main,
.page-footer__contacts-container {
  display: flex;
  justify-content: space-between;
  min-height: 114px;
  @media (min-width: @tablet-width) {
    width: 625px;
    min-height: 201px;
  }
  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 201px;
  }
}

.page-footer__contacts-container-main {
  background-color: @basic-white;
  align-items: center;
}

.page-footer__links-container {
  background-color: @basic-grey;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo-brand {
  display: flex;
  justify-content: center;
  background-color: @basic-grey;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: @basic-grey;
  width: 130px;
  height: 22px;
}

.page-footer__social-item {
  margin: 0 17px 0 17px;
}

.page-footer__copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__copyright-link {
  text-decoration: none;
  color: @special-dark-grey;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
