.promo {
  position: relative;
  width: 100%;
}

.promo__wrapper {
  position: relative;
  width: 100%;
  color: @basic-white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: block;
    width: 708px;
    margin: 0 auto;
    text-align: left;
    color: @basic-black;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    width: 1220px;
    color: @basic-black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
}

.promo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 302px;
  opacity: 0.85;
  background: @special-background-cat url("../img/index-background-cat.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  z-index: -2;

  @media (min-resolution: 2dppx) {
    background: @special-background-cat url("../img/index-background-cat@2x.jpg");
    background-size: 320px 302px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    top: -120px;
    left: 50%;
    height: 694px;
    background: @special-background-cat no-repeat url("../img/index-background-cat-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background: @special-background-cat url("../img/index-background-cat-desktop@2x.jpg");
      background-size: 720px 694px;
    }
  }
}

.promo::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 302px;
  opacity: 0.8;
  background-color: @basic-green;
  background-position: 50% 0;
  z-index: -2;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    top: -120px;
    left: 50%;
    width: 100%;
    height: 694px;
  }
}

.promo__slogan {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    margin-top: 62px;
    margin-bottom: 41px;
    margin-left: 87px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 108px;
    margin-bottom: 40px;
    margin-left: 80px;
  }
}

.promo__intro {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
    margin-left: 87px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
    margin-left: 80px;
  }
}

.promo__product-image {
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    align-self: center;
    position: absolute;
    top: 205px;
    left: 1px;
    z-index: -1;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 25px;
    left: 448px;
    z-index: -1;
    margin: 0;
  }
}

.promo__program-link {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic-white;
  background-color: @basic-green;
  display: flex;
  width: 280px;
  height: 40px;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: @basic-green-2;
  }

  &:active {
    background-color: @basic-green-2;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 90px;
    margin-bottom: 526px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 80px;
    margin-bottom: 267px;
  }
}
