.recipe__title {
  font-family: "OswaldMedium", "Arial";
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.recipe__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recipe__item {
  display: flex;
  margin-bottom: 20px;

}
