.recipe__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 27px;
}

.recipe__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

@media (min-width: @tablet-width) {
  .recipe__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .recipe__list {
    display: flex;
  }
}

.recipe__item {
  display: flex;
  margin: 20px 0;
}

.recipe__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}
