.result {
  background-color: @basic-grey-result;
  min-width: 280px;
  min-height: 705px;
}

.result__title {
  font-family: "OswaldMedium", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 33px;
}

.result__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  margin: 0;
}

.result__block-container {
  display: flex;
  justify-content: space-between;
}

.result__block-item {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.result__block-item-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: @special-dark-grey;
}

.result__price {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 42px;
}

.result__slider-toggle-container {
  display: flex;
  justify-content: center;
}


.result__slider-text {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
