.result {
  background-color: @basic-grey-result;
  min-width: 280px;
  min-height: 705px;
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    }
}

.result__title {
  font-family: "OswaldMedium", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 33px;
}

.result__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  margin: 0;
}

.result__block-container {
  display: grid;
  grid-template-columns: auto auto;
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.result__block-item {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.result__block-item-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: @special-dark-grey;
}

.result__price {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 42px;
  @media (max-width: @mobile-width-only) {
    grid-column: ~"1/-1";
  }
  @media (min-width: @desktop-width) {
    grid-column: ~"1/3";
  }
}

.result__slider {
  @media (min-width: @desktop-width) {
    grid-column: ~"2/3";
    grid-row: ~"1/-1";
  }
  display: grid;
  justify-content: center;
}

.result__slider-toggle-container {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 228px;
  height: 40px;
  @media (min-width: @tablet-width) {
    width: 579px;
  }
  @media (min-width: @desktop-width) {
    width: 579px;
  }
}


.result__slider-text {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
